<div class="hero-unit">
	<h1>hello, reddit</h1>
	<p>reddit api. jsonp. client side bliss.</p>
	<a id="btnProxy" href="#" class="btn btn-primary btn-large">Show Me The Proxy <i class="icon-play icon-white"></i></a>
</div>

<div class="row interspace">
	<div class="span12">
		<h1>Why does this exist?</h1>
		<h2>Because <code>XmlHttpRequest error: Origin null is not allowed by Access-Control-Allow-Origin</code> sucks.</h2>
	</div>

</div>

<div class="row">
	<div class="span6">
		<h1>Is it free?!</h1>
		<h3>Yep.</h3>		
	</div>
	<div class="span6">
		<h1>How does it work?</h1>
		<h3><a href="http://www.github.com">See for yourself! (And make it better, too)</a></h3>

	</div>
	
</div>